body {
  font-size: 16px;
}

h2 {
  text-align: center;
}

.container {
  padding: 1rem;
  position: relative;
}

.inline-block-img {
  display: inline-block;
  margin: 1rem;
  width: 20rem;
}

.inline-img {
  width: 6rem;
}

.block-img {
  display: block;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.bg-img {
  height: 20rem;
  background-position: center;
  background-size: cover;
  padding: 1rem;
}

.bg-img * {
  text-align: center;
  color: #fff;
}
