---
title: Contentful Middleman Example
---

<ul>
  <% data.site.pages.each do |_, page| %>
    <li><a href="<%= page.path %>"><%= page.title %></a></li>
  <% end %>
</ul>

<ul>
  <% data.site.posts.each do |_, post| %>
    <li><a href="<%= post.path %>"><%= post.title %></a></li>
  <% end %>
</ul>
